*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover {
  background-color: #2196F3;
}

.social-list .social-list-link:hover {
  border: 1px solid #2196F3;
}

.social-list-link:focus {
  background-color: #2196F3;
}

.social-list .social-list-link:focus {
  border: 1px solid #2196F3;
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
  fill: #FFFFFF;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.container-join {
  margin-left: 70px;
}

.join-list {
  display: flex;
  justify-content: space-between;
}

.join-list-item:not(:last-child) {
  margin-right: 10px;
}

.join-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list .join-list-link:hover, .join-list .join-list-link:focus {
  background-color: #2196F3;
}

.join-list-svg {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.join-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1641;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  padding-top: 12px;
}

.header {
  padding: 24px 0;
}

.header .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .address {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196F3;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.email-icon {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.header-email-link:hover .email-icon,
.header-email-link:focus .email-icon {
  fill: #2196F3;
}

.tel-icon {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.header-tel-link:hover .tel-icon,
.header-tel-link:focus .tel-icon {
  fill: #2196F3;
}

.header-email-link {
  display: inline-flex;
  align-items: center;
  margin-right: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-email-link:hover, .header-email-link:focus {
  color: #2196F3;
}

.header-tel-link {
  display: inline-flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-link:hover, .header-tel-link:focus {
  color: #2196F3;
}

.logo-link {
  margin-right: 93px;
}

.current {
  color: #2196F3;
}

.current::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  align-items: flex-end;
  bottom: -30px;
  background-color: #2196F3;
}

.projects-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.projects-navigation-btn {
  background: #F5F4FA;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  padding: 6px 22px;
  border: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-navigation .projects-navigation-btn:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects-navigation .projects-navigation-btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects-navigation-btn-item:not(:last-child) {
  margin-right: 8px;
}

.our-projects {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ECECEC;
}

.our-projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-projects-list-link {
  display: block;
  height: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-projects-list .our-projects-list-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-projects-list .our-projects-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-projects-list-item {
  width: 370px;
}

.our-projects-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.our-projects-list-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.our-projects-list-title {
  margin-bottom: 4px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.our-projects-img-overlay {
  position: relative;
  overflow: hidden;
}

.our-projects-overlay {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-projects-list-link:hover .our-projects-overlay,
.our-projects-list-link:focus .our-projects-overlay {
  transform: translateY(0);
}

.our-projects-overlay-text {
  display: flex;
  width: 322px;
  height: 168px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.our-projects-caption {
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.our-projects-list-subtitle {
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #757575;
}

.ft-background {
  background-color: #2F303A;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-info:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 9px;
  color: #FFFFFF;
}

.footer-email-link, .footer-tel-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .container {
  display: flex;
}

.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.address-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-form {
  display: flex;
}

.footer-form-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-form-container {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
  padding-top: 12px;
}

.footer-form-email {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;
}

.footer-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.footer-submit-btn::after {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  content: "";
  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=portfolio.css.map */