
.advantages-list {
    

    @media screen and(min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;   
        flex-basis: 50%;
    }
    
@media screen and(min-width:1200px) {
    flex-wrap: nowrap;
    flex-basis: 100%;
}
    
    &-item {
       

        @media screen and(min-width:768px) and (max-width:1199px) {
            width: 354px;
            &:not(:nth-child(2n)) {
                margin-right: 30px;
            }
        
            &:not(:nth-last-child(-n+2)) {
                margin-bottom: 30px;
            }
        }
        

        @media screen and(min-width:1200px){
            width: 270px;
            
           
                margin-bottom: 0px;
         
        }
    }


    &-title {
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-main-color;
        margin-bottom: 10px;
        margin-top: 30px;        
        text-align: center;

        @media screen and(min-width:768px) {
            display: flex;
            justify-content: flex-start;
        }

        
    }
    
    &-desc {    
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: $secondary-color;
        
    }
}

.atantion::before {
    display: block;
    content: "";    
    height: 120px;
    background-color: #F5F4FA;
    background-image: url(../images/advantage/antenna.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.punctuality::before {
    display: block;
    content: "";
    height: 120px;
    background-color: #F5F4FA;
    background-image: url(../images/advantage/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.planning::before {
    display: block;
    content: "";
    height: 120px;
    background-color: #F5F4FA;
    background-image: url(../images/advantage/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.modern-tech::before {
    display: block;
    content: "";    
    height: 120px;
    background-color: #F5F4FA;
    background-image: url(../images/advantage/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and(min-width:480px) and (max-width:767px) {
    .advantages-list-item:not(:last-child){
    margin-bottom : 30px;
}
}