.advantages-list {
    display: flex;
    justify-content: space-between;    

    &-item {
        width: 270px;
        
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-main-color;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    
    &-desc {    
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: $secondary-color;
    }
}


.atantion::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    background-image: url(../images/advantage/antenna.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.punctuality::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    background-image: url(../images/advantage/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.planning::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    background-image: url(../images/advantage/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.modern-tech::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    background-image: url(../images/advantage/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
