.social-list {
    display: flex;
    padding-left: 122px;    
    padding-right: 122px;
    justify-content: center;
  
  
    &:not(:last-child) {
      margin-right: 10px;
    }

    @media screen and(min-width:768px){
        padding-left: 74px;    
        padding-right: 74px;
      
    }

    @media screen and(min-width:1200px){
      padding-left: 31px;    
      padding-right: 31px;
    
  }
    
    &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
      background-color: #2196F3;

      .social-list & {
        border: 1px solid #2196F3;
      }
    }
      

    &:focus {
      background-color: #2196F3;

      .social-list &  {
        border: 1px solid #2196F3;
       
        }
    }
    
}

    &-svg {
      width: 20px;
      height: 20px;
      fill: #AFB1B8;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


      .social-list-link:hover &,
      .social-list-link:focus & {
    fill: #FFFFFF;   
  }

  }
}


