
    $main-font: "Roboto", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    $title-main-color: #212121;
    $secondary-color: #757575;
    $accent-color: #2196F3;
    $background-contrast: #2F303A;
    $text-contrast: #FFFFFF;        
